body{
	color: #565a5c;
	background-color: #F8F8F8 !important;
	font-family: 'Varela Round', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.navbar-brand{
	color: #FF5A5F !important;
	//font-size: 2em;
	//font-weight: 40;
}

a{
	color: #00A699 !important;
	text-decoration: none;
}

a:hover{
	color: #00A6BB;

}

.btn-info{
	color: #fff !important;
}

// avatar

.avatar-thumbnail{
	width: 30px;
}

// forms

.webforms{
	background-color: #fff;
	margin-top: 10%;
	padding: 2%;
}
.webforms input{
	border-radius: 2px;
}

// jumbotorn image
.jumbotron h2, .jumbotron p, .jumbotron hr{
	color: #fff;
}

// star
.gold-star{
	color: blue;
}