body{
	color: #565a5c;
	background-color: #F8F8F8 !important;
	font-family: 'Varela Round', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.navbar-brand{
	color: #FF5A5F !important;
	font-size: 2em;
	font-weight: 400;
}

a{
	color: #00A699 !important;
	text-decoration: none;
}

a:hover{
	color: #00A6BB;

}

// avatar

.avatar-thumbnail{
	width: 30px;
}